$viewport-sm-max: 767px;
$viewport-lg-min: 768px;
$viewport-xl-min: 1200px;

body {
  font-family: "Josefin Sans";
  font-size: 16px;
  line-height: 1.5;
}

h2 {
  margin-top: 0;
}

.highlight {
  background: linear-gradient(180deg, transparent 20%, $color-yellow 20%);
}

.link-block {
  border-bottom: 3px solid black;
  color: black;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
}

.header {
  background-color: $color-blue;
  padding: 30px 40px;
  text-align: center;

  .headline {
    font-size: 25px;
  }
}

.main-container {
  padding: 30px 40px;

  @media only screen and (max-width: $viewport-sm-max) {
    text-align: center;
  }
}

.profile-picture {
  box-shadow: 10px 10px 0 $color-blue;

  @media only screen and (max-width: $viewport-sm-max) {
    margin-bottom: 30px;
  }
}

// Large screen
@media only screen and (min-width: $viewport-lg-min) {
  body {
    font-size: 20px;
  }

  h2 {
    font-size: 29px;
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 27.5px;
  }

  .link-block {
    font-size: 15px;
  }

  .page-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
  }

  .header {
    display: grid;
    grid-template-rows: 1fr 200px 1fr;
    text-align: right;

    .nav {
      align-items: end;
      display: grid;
      justify-items: end;
    }

    .title {
      align-items: center;
      display: grid;
    }

    .headline {
      font-size: 35px;
    }
  }

  .main-container--full-height {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .main-container--welcome {
    display: grid;
    grid-template-rows: 1fr 200px 1fr;

    .profile-picture-container {
      align-items: end;
      display: grid;
    }

    .description {
      align-items: center;
      display: grid;
    }
  }
}

// Extra large screen
@media only screen and (min-width: $viewport-xl-min) {
  .header {
    padding-left: 160px;
    padding-right: 80px;
  }

  .main-container {
    padding-left: 80px;
    padding-right: 160px;
  }

  .main-container--full-height {
    padding-bottom: 80px;
    padding-top: 80px;
  }
}
