body {
  font-family: "Josefin Sans";
  font-size: 16px;
}

.highlight {
  background: linear-gradient(180deg, transparent 20%, $color-yellow 20%);
}

.main-container {
  padding: 30px 40px;
  text-align: center;
}

.profile-picture {
  box-shadow: 10px 10px 0 $color-blue;
  margin-bottom: 30px;
}

// Large screens grid
$viewport-lg: 768px;
@media only screen and (min-width: $viewport-lg) {
  .page-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
  }
}
