@import "variables";

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

h2,
h3 {
  margin-top: 0;
}

@media only screen and (min-width: $viewport-lg-min) {
  body {
    font-size: 20px;
  }

  h2 {
    font-size: 26px;
    margin-bottom: 30px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    margin-bottom: 27.5px;
  }
}
