$color-blue: #bfd4f7;
$color-blue-light: #e9eff8;
$color-yellow: #ffff00;

$font-small: 15px;

$img-box-shadow: 10px 10px 0 $color-blue;

$viewport-sm-max: 767px;
$viewport-lg-min: 768px;
$viewport-xl-min: 1200px;
