$gray: #ebebeb;
$gray-dark: #70757a;
$black: #3c4043;
$blue: #1a73e8;

$border-color: $gray;
$border: 1px solid $border-color;

$font-size: 13px;

$main-margin-left-lg: 180px;
$main-width-lg: 652px;

$viewport-lg-min: $main-margin-left-lg + $main-width-lg;
