$gray: #ebebeb;
$gray-dark: #70757a;
$black: #3c4043;
$blue: #1a73e8;

$border-color: $gray;
$border: 1px solid $border-color;
$box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);

$font-size: 13px;

$main-spacing-sm: 8px;

$main-margin-left-lg: 180px;
$main-width-lg: 652px;

$viewport-lg-min: $main-margin-left-lg + $main-width-lg;
